<dec f='include/X11/Xlib.h' l='865' type='Atom'/>
<dec f='include/X11/Xlib.h' l='877' type='Atom'/>
<offset>384</offset>
<dec f='include/X11/Xproto.h' l='1445' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1562' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1562' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1562' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1608' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1608' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1608' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1656' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1656' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1656' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1701' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1701' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1701' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1753' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1753' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1753' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1795' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1795' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1795' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1834' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1834' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1834' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1873' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1873' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1873' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1953' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1953' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='1953' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='2037' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='2037' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='2037' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='2074' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='2074' type='CARD32'/>
<dec f='include/GL/glxproto.h' l='2074' type='CARD32'/>
<offset>160</offset>
<dec f='include/unicode/ucnv_err.h' l='200' type='char *'/>
<dec f='include/unicode/ucnv_err.h' l='216' type='UChar *'/>
<offset>256</offset>
<doc f='include/unicode/ucnv_err.h' l='200'>/**&lt; Pointer to the target buffer. @stable ICU 2.0    */</doc>
<doc f='include/unicode/ucnv_err.h' l='216'>/**&lt; Pointer to the target buffer. @stable ICU 2.0    */</doc>
