<dec f='include/gstreamer-1.0/gst/video/gstvideoutils.h' l='240' type='GstClockTime'/>
<offset>192</offset>
<doc f='include/gstreamer-1.0/gst/video/gstvideoutils.h' l='239'>/*&lt; public &gt;*/</doc>
<doc f='include/gstreamer-1.0/gst/video/gstvideoutils.h' l='240'>/* ED */</doc>
