<dec f='include/gtk-3.0/gtk/gtknotebook.h' l='60' type='GtkContainer'/>
<offset>0</offset>
<doc f='include/gtk-3.0/gtk/gtknotebook.h' l='59'>/*&lt; private &gt;*/</doc>
