<dec f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='88' type='GRefPtr&lt;JSCVirtualMachine&gt;'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='101' u='w' c='_ZL27jscContextSetVirtualMachineP11_JSCContextON3WTF7GRefPtrI18_JSCVirtualMachineEE'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='104' u='m' c='_ZL27jscContextSetVirtualMachineP11_JSCContextON3WTF7GRefPtrI18_JSCVirtualMachineEE'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='106' u='m' c='_ZL27jscContextSetVirtualMachineP11_JSCContextON3WTF7GRefPtrI18_JSCVirtualMachineEE'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='108' u='m' c='_ZL27jscContextSetVirtualMachineP11_JSCContextON3WTF7GRefPtrI18_JSCVirtualMachineEE'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='112' u='m' c='_ZL27jscContextSetVirtualMachineP11_JSCContextON3WTF7GRefPtrI18_JSCVirtualMachineEE'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='113' u='m' c='_ZL27jscContextSetVirtualMachineP11_JSCContextON3WTF7GRefPtrI18_JSCVirtualMachineEE'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='115' u='m' c='_ZL27jscContextSetVirtualMachineP11_JSCContextON3WTF7GRefPtrI18_JSCVirtualMachineEE'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='117' u='w' c='_ZL27jscContextSetVirtualMachineP11_JSCContextON3WTF7GRefPtrI18_JSCVirtualMachineEE'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='127' u='m' c='_ZL21jscContextGetPropertyP8_GObjectjP7_GValueP11_GParamSpec'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='153' u='m' c='_ZL21jscContextConstructedP8_GObject'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='243' u='m' c='_Z36jscContextCreateContextWithJSWrapperP11_JSCContextP13OpaqueJSClassPK13OpaqueJSValuePvPFvS6_E'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='626' u='m' c='_Z31jsc_context_get_virtual_machineP11_JSCContext'/>
<use f='WebKit/Source/JavaScriptCore/API/glib/JSCContext.cpp' l='895' u='m' c='_Z30jsc_context_evaluate_in_objectP11_JSCContextPKclPvP9_JSCClassS2_jPP9_JSCValue'/>
<offset>0</offset>
