<dec f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='89' type='GUniquePtr&lt;GTimer&gt;'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='364' u='m' c='_Z28webkitDownloadNotifyProgressP15_WebKitDownloadm'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='365' u='m' c='_Z28webkitDownloadNotifyProgressP15_WebKitDownloadm'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='374' u='m' c='_Z28webkitDownloadNotifyProgressP15_WebKitDownloadm'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='393' u='m' c='_Z20webkitDownloadFailedP15_WebKitDownloadRKN7WebCore13ResourceErrorE'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='394' u='m' c='_Z20webkitDownloadFailedP15_WebKitDownloadRKN7WebCore13ResourceErrorE'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='416' u='m' c='_Z22webkitDownloadFinishedP15_WebKitDownload'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='417' u='m' c='_Z22webkitDownloadFinishedP15_WebKitDownload'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='590' u='m' c='_Z32webkit_download_get_elapsed_timeP15_WebKitDownload'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitDownload.cpp' l='593' u='m' c='_Z32webkit_download_get_elapsed_timeP15_WebKitDownload'/>
