<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Context.h' l='353' c='_ZN2gl7ContextC1EPN3egl7DisplayEPKNS1_6ConfigEPKS0_PNS_14TextureManagerEPNS_16SemaphoreManagerEPNS_18MemoryProgramCacheEjRKNS1_12AttributeMapERKNS1_1711700275'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Context.h' l='483' c='_ZNK2gl7Context9getConfigEv'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Context.h' l='722'/>
<def f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='27' ll='80'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='31' c='_ZN3egl6ConfigC1ERKS0_'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='32' c='_ZN3egl6ConfigaSERKS0_'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='32' c='_ZN3egl6ConfigaSERKS0_'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='85'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='93' c='_ZN3egl9ConfigSet3addERKNS_6ConfigE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='94' c='_ZNK3egl9ConfigSet3getEi'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='100' c='_ZNK3egl9ConfigSet8containsEPKNS_6ConfigE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Config.h' l='103' c='_ZNK3egl9ConfigSet6filterERKNS_12AttributeMapE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='135' c='_ZNK3egl7Display10getConfigsERKNS_12AttributeMapE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='136' c='_ZNK3egl7Display12chooseConfigERKNS_12AttributeMapE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='138' c='_ZN3egl7Display19createWindowSurfaceEPKNS_6ConfigEmRKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='142' c='_ZN3egl7Display20createPbufferSurfaceEPKNS_6ConfigERKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='145' c='_ZN3egl7Display29createPbufferFromClientBufferEPKNS_6ConfigEjPvRKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='150' c='_ZN3egl7Display19createPixmapSurfaceEPKNS_6ConfigEmRKNS_12AttributeMapEPPNS_7SurfaceE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='163' c='_ZN3egl7Display13createContextEPKNS_6ConfigEPN2gl7ContextEjRKNS_12AttributeMapEPS6_'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='191' c='_ZNK3egl7Display13isValidConfigEPKNS_6ConfigE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='199' c='_ZNK3egl7Display20validateClientBufferEPKNS_6ConfigEjPvRKNS_12AttributeMapE'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Display.h' l='207' c='_ZNK3egl7Display14valdiatePixmapEPNS_6ConfigEmRKNS_12AttributeMapE'/>
<size>164</size>
<fun r='_ZN3egl6ConfigC1Ev'/>
<fun r='_ZN3egl6ConfigD1Ev'/>
<fun r='_ZN3egl6ConfigC1ERKS0_'/>
<fun r='_ZN3egl6ConfigaSERKS0_'/>
<mbr r='egl::Config::renderTargetFormat' o='0' t='GLenum'/>
<mbr r='egl::Config::depthStencilFormat' o='32' t='GLenum'/>
<mbr r='egl::Config::bufferSize' o='64' t='EGLint'/>
<mbr r='egl::Config::redSize' o='96' t='EGLint'/>
<mbr r='egl::Config::greenSize' o='128' t='EGLint'/>
<mbr r='egl::Config::blueSize' o='160' t='EGLint'/>
<mbr r='egl::Config::luminanceSize' o='192' t='EGLint'/>
<mbr r='egl::Config::alphaSize' o='224' t='EGLint'/>
<mbr r='egl::Config::alphaMaskSize' o='256' t='EGLint'/>
<mbr r='egl::Config::bindToTextureRGB' o='288' t='EGLBoolean'/>
<mbr r='egl::Config::bindToTextureRGBA' o='320' t='EGLBoolean'/>
<mbr r='egl::Config::bindToTextureTarget' o='352' t='EGLenum'/>
<mbr r='egl::Config::colorBufferType' o='384' t='EGLenum'/>
<mbr r='egl::Config::configCaveat' o='416' t='EGLenum'/>
<mbr r='egl::Config::configID' o='448' t='EGLint'/>
<mbr r='egl::Config::conformant' o='480' t='EGLint'/>
<mbr r='egl::Config::depthSize' o='512' t='EGLint'/>
<mbr r='egl::Config::level' o='544' t='EGLint'/>
<mbr r='egl::Config::matchNativePixmap' o='576' t='EGLBoolean'/>
<mbr r='egl::Config::maxPBufferWidth' o='608' t='EGLint'/>
<mbr r='egl::Config::maxPBufferHeight' o='640' t='EGLint'/>
<mbr r='egl::Config::maxPBufferPixels' o='672' t='EGLint'/>
<mbr r='egl::Config::maxSwapInterval' o='704' t='EGLint'/>
<mbr r='egl::Config::minSwapInterval' o='736' t='EGLint'/>
<mbr r='egl::Config::nativeRenderable' o='768' t='EGLBoolean'/>
<mbr r='egl::Config::nativeVisualID' o='800' t='EGLint'/>
<mbr r='egl::Config::nativeVisualType' o='832' t='EGLint'/>
<mbr r='egl::Config::renderableType' o='864' t='EGLint'/>
<mbr r='egl::Config::sampleBuffers' o='896' t='EGLint'/>
<mbr r='egl::Config::samples' o='928' t='EGLint'/>
<mbr r='egl::Config::stencilSize' o='960' t='EGLint'/>
<mbr r='egl::Config::surfaceType' o='992' t='EGLint'/>
<mbr r='egl::Config::transparentType' o='1024' t='EGLenum'/>
<mbr r='egl::Config::transparentRedValue' o='1056' t='EGLint'/>
<mbr r='egl::Config::transparentGreenValue' o='1088' t='EGLint'/>
<mbr r='egl::Config::transparentBlueValue' o='1120' t='EGLint'/>
<mbr r='egl::Config::optimalOrientation' o='1152' t='EGLint'/>
<mbr r='egl::Config::colorComponentType' o='1184' t='EGLenum'/>
<mbr r='egl::Config::recordable' o='1216' t='EGLBoolean'/>
<mbr r='egl::Config::framebufferTarget' o='1248' t='EGLBoolean'/>
<mbr r='egl::Config::yInverted' o='1280' t='EGLBoolean'/>
