<def f='WebKit/bmalloc/Headers/bmalloc/GigacageConfig.h' l='46' ll='103'/>
<use f='WebKit/bmalloc/Headers/bmalloc/GigacageConfig.h' l='115'/>
<use f='WebKit/bmalloc/Headers/bmalloc/Gigacage.h' l='101' macro='1' c='_ZN8Gigacage9isEnabledEv'/>
<use f='WebKit/bmalloc/Headers/bmalloc/Gigacage.h' l='115' macro='1' c='_ZN8Gigacage37disablingPrimitiveGigacageIsForbiddenEv'/>
<use f='WebKit/bmalloc/Headers/bmalloc/Gigacage.h' l='126' macro='1' c='_ZN8Gigacage9isEnabledENS_4KindE'/>
<use f='WebKit/bmalloc/Headers/bmalloc/Gigacage.h' l='127' macro='1' c='_ZN8Gigacage9isEnabledENS_4KindE'/>
<use f='WebKit/bmalloc/Headers/bmalloc/Gigacage.h' l='133' macro='1' c='_ZN8Gigacage7basePtrENS_4KindE'/>
<use f='WebKit/bmalloc/Headers/bmalloc/Gigacage.h' l='139' macro='1' c='_ZN8Gigacage16addressOfBasePtrENS_4KindE'/>
<use f='WebKit/bmalloc/Headers/bmalloc/Gigacage.h' l='204' macro='1' c='_ZN8Gigacage8containsEPKv'/>
<use f='WebKit/bmalloc/Headers/bmalloc/Gigacage.h' l='206' macro='1' c='_ZN8Gigacage8containsEPKv'/>
<size>72</size>
<fun r='_ZNK8Gigacage6Config7basePtrENS_4KindE'/>
<fun r='_ZN8Gigacage6Config10setBasePtrENS_4KindEPv'/>
<fun r='_ZNK8Gigacage6Config12allocBasePtrENS_4KindE'/>
<fun r='_ZN8Gigacage6Config15setAllocBasePtrENS_4KindEPv'/>
<fun r='_ZNK8Gigacage6Config9allocSizeENS_4KindE'/>
<fun r='_ZN8Gigacage6Config12setAllocSizeENS_4KindEm'/>
<mbr r='Gigacage::Config::isPermanentlyFrozen' o='0' t='bool'/>
<mbr r='Gigacage::Config::isEnabled' o='8' t='bool'/>
<mbr r='Gigacage::Config::disablingPrimitiveGigacageIsForbidden' o='16' t='bool'/>
<mbr r='Gigacage::Config::shouldBeEnabled' o='24' t='bool'/>
<mbr r='Gigacage::Config::shouldBeEnabledHasBeenCalled' o='32' t='bool'/>
<mbr r='Gigacage::Config::ensureGigacageHasBeenCalled' o='40' t='bool'/>
<mbr r='Gigacage::Config::start' o='64' t='void *'/>
<mbr r='Gigacage::Config::totalSize' o='128' t='size_t'/>
<mbr r='Gigacage::Config::basePtrs' o='192' t='void *[2]'/>
<mbr r='Gigacage::Config::allocBasePtrs' o='320' t='void *[2]'/>
<mbr r='Gigacage::Config::allocSizes' o='448' t='size_t [2]'/>
<use f='WebKit/JavaScriptCore/DerivedSources/LLIntDesiredOffsets.h' l='1503' c='_ZN3JSC21LLIntOffsetsExtractor5dummyEv'/>
<use f='WebKit/JavaScriptCore/DerivedSources/LLIntDesiredOffsets.h' l='1506' c='_ZN3JSC21LLIntOffsetsExtractor5dummyEv'/>
<use f='WebKit/JavaScriptCore/DerivedSources/LLIntDesiredOffsets.h' l='1503' c='_ZN3JSC21LLIntOffsetsExtractor5dummyEv'/>
<use f='WebKit/JavaScriptCore/DerivedSources/LLIntDesiredOffsets.h' l='1506' c='_ZN3JSC21LLIntOffsetsExtractor5dummyEv'/>
<size>72</size>
<use f='WebKit/Source/WTF/wtf/WTFConfig.cpp' l='103' macro='1' c='_ZN3WTF6Config17permanentlyFreezeEv'/>
<size>72</size>
<def f='WebKit/Source/bmalloc/bmalloc/GigacageConfig.h' l='46' ll='103'/>
<use f='WebKit/Source/bmalloc/bmalloc/GigacageConfig.h' l='115'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.h' l='101' macro='1' c='_ZN8Gigacage9isEnabledEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.h' l='115' macro='1' c='_ZN8Gigacage37disablingPrimitiveGigacageIsForbiddenEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.h' l='126' macro='1' c='_ZN8Gigacage9isEnabledENS_4KindE'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.h' l='127' macro='1' c='_ZN8Gigacage9isEnabledENS_4KindE'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.h' l='133' macro='1' c='_ZN8Gigacage7basePtrENS_4KindE'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.h' l='139' macro='1' c='_ZN8Gigacage16addressOfBasePtrENS_4KindE'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.h' l='204' macro='1' c='_ZN8Gigacage8containsEPKv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.h' l='206' macro='1' c='_ZN8Gigacage8containsEPKv'/>
<size>72</size>
<fun r='_ZNK8Gigacage6Config7basePtrENS_4KindE'/>
<fun r='_ZN8Gigacage6Config10setBasePtrENS_4KindEPv'/>
<fun r='_ZNK8Gigacage6Config12allocBasePtrENS_4KindE'/>
<fun r='_ZN8Gigacage6Config15setAllocBasePtrENS_4KindEPv'/>
<fun r='_ZNK8Gigacage6Config9allocSizeENS_4KindE'/>
<fun r='_ZN8Gigacage6Config12setAllocSizeENS_4KindEm'/>
<mbr r='Gigacage::Config::isPermanentlyFrozen' o='0' t='bool'/>
<mbr r='Gigacage::Config::isEnabled' o='8' t='bool'/>
<mbr r='Gigacage::Config::disablingPrimitiveGigacageIsForbidden' o='16' t='bool'/>
<mbr r='Gigacage::Config::shouldBeEnabled' o='24' t='bool'/>
<mbr r='Gigacage::Config::shouldBeEnabledHasBeenCalled' o='32' t='bool'/>
<mbr r='Gigacage::Config::ensureGigacageHasBeenCalled' o='40' t='bool'/>
<mbr r='Gigacage::Config::start' o='64' t='void *'/>
<mbr r='Gigacage::Config::totalSize' o='128' t='size_t'/>
<mbr r='Gigacage::Config::basePtrs' o='192' t='void *[2]'/>
<mbr r='Gigacage::Config::allocBasePtrs' o='320' t='void *[2]'/>
<mbr r='Gigacage::Config::allocSizes' o='448' t='size_t [2]'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='120' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='121' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='129' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='180' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='187' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='190' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='207' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='208' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='210' macro='1' c='_ZN8Gigacage14ensureGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='216' macro='1' c='_ZN8Gigacage24disablePrimitiveGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='219' macro='1' c='_ZN8Gigacage24disablePrimitiveGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='223' macro='1' c='_ZN8Gigacage24disablePrimitiveGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='239' macro='1' c='_ZN8Gigacage27addPrimitiveDisableCallbackEPFvPvES0_'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='266' macro='1' c='_ZN8GigacageL23verifyGigacageIsEnabledEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='268' macro='1' c='_ZN8GigacageL23verifyGigacageIsEnabledEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='269' macro='1' c='_ZN8GigacageL23verifyGigacageIsEnabledEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='270' macro='1' c='_ZN8GigacageL23verifyGigacageIsEnabledEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='277' macro='1' c='_ZN8Gigacage32forbidDisablingPrimitiveGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='277' macro='1' c='_ZN8Gigacage32forbidDisablingPrimitiveGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='280' macro='1' c='_ZN8Gigacage32forbidDisablingPrimitiveGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='281' macro='1' c='_ZN8Gigacage32forbidDisablingPrimitiveGigacageEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='291' macro='1' c='_ZN8Gigacage15shouldBeEnabledEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='292' macro='1' c='_ZN8Gigacage15shouldBeEnabledEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='309' macro='1' c='_ZN8Gigacage15shouldBeEnabledEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='311' macro='1' c='_ZN8Gigacage15shouldBeEnabledEv'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='316' macro='1' c='_ZN8Gigacage9allocBaseENS_4KindE'/>
<use f='WebKit/Source/bmalloc/bmalloc/Gigacage.cpp' l='321' macro='1' c='_ZN8Gigacage4sizeENS_4KindE'/>
<size>72</size>
