<def f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/FramebufferAttachment.h' l='167' ll='181'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/FramebufferAttachment.h' l='172' c='_ZN2gl21FramebufferAttachment6TargetC1ERKS1_'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/FramebufferAttachment.h' l='173' c='_ZN2gl21FramebufferAttachment6TargetaSERKS1_'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/FramebufferAttachment.h' l='173' c='_ZN2gl21FramebufferAttachment6TargetaSERKS1_'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/FramebufferAttachment.h' l='184'/>
<size>20</size>
<doc f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/FramebufferAttachment.h' l='161'>// A framebuffer attachment points to one of three types of resources: Renderbuffers,
    // Textures and egl::Surface. The &quot;Target&quot; struct indicates which part of the
    // object an attachment references. For the three types:
    //   - a Renderbuffer has a unique renderable target, and needs no target index
    //   - a Texture has targets for every image and uses an ImageIndex
    //   - a Surface has targets for Color and Depth/Stencil, and uses the attachment binding</doc>
<fun r='_ZN2gl21FramebufferAttachment6TargetC1Ev'/>
<fun r='_ZN2gl21FramebufferAttachment6TargetC1EjRKNS_10ImageIndexE'/>
<fun r='_ZN2gl21FramebufferAttachment6TargetC1ERKS1_'/>
<fun r='_ZN2gl21FramebufferAttachment6TargetaSERKS1_'/>
<fun r='_ZNK2gl21FramebufferAttachment6Target7bindingEv'/>
<fun r='_ZNK2gl21FramebufferAttachment6Target12textureIndexEv'/>
<mbr r='gl::FramebufferAttachment::Target::mBinding' o='0' t='GLenum'/>
<mbr r='gl::FramebufferAttachment::Target::mTextureIndex' o='32' t='gl::ImageIndex'/>
