<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/OverlayWidgets.h' l='69'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/OverlayWidgets.h' l='84'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/OverlayWidgets.h' l='96'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/OverlayWidgets.h' l='146'/>
<use f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Overlay.h' l='49'/>
<inh f='WebKit/Source/ThirdParty/ANGLE/src/common/angleutils.h' l='43' c='angle::NonCopyable'/>
<def f='WebKit/Source/ThirdParty/ANGLE/src/libANGLE/Overlay.h' l='56' ll='108'/>
<size>88</size>
<fun r='_ZN2gl7OverlayC1EPN2rx13GLImplFactoryE'/>
<fun r='_ZN2gl7OverlayD1Ev'/>
<fun r='_ZN2gl7Overlay4initEPKNS_7ContextE'/>
<fun r='_ZN2gl7Overlay7destroyEPKNS_7ContextE'/>
<fun r='_ZNK2gl7Overlay6onSwapEv'/>
<fun r='_ZNK2gl7Overlay13getTextWidgetENS_8WidgetIdE'/>
<fun r='_ZNK2gl7Overlay14getCountWidgetENS_8WidgetIdE'/>
<fun r='_ZNK2gl7Overlay18getPerSecondWidgetENS_8WidgetIdE'/>
<fun r='_ZNK2gl7Overlay21getRunningGraphWidgetENS_8WidgetIdE'/>
<fun r='_ZNK2gl7Overlay25getRunningHistogramWidgetENS_8WidgetIdE'/>
<fun r='_ZNK2gl7Overlay17getImplementationEv'/>
<fun r='_ZNK2gl7Overlay9isEnabledEv'/>
<fun r='_ZNK2gl7Overlay11getWidgetAsENS_8WidgetIdE'/>
<fun r='_ZN2gl7Overlay18initOverlayWidgetsEv'/>
<fun r='_ZN2gl7Overlay35enableOverlayWidgetsFromEnvironmentEv'/>
<mbr r='gl::Overlay::mLastPerSecondUpdate' o='0' t='double'/>
<mbr r='gl::Overlay::mState' o='64' t='gl::OverlayState'/>
<mbr r='gl::Overlay::mImplementation' o='640' t='std::unique_ptr&lt;rx::OverlayImpl&gt;'/>
