<dec f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/InspectorProtocolObjects.h' l='1507' type='1'/>
<use f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/InspectorProtocolObjects.h' l='1509' u='r'/>
<use f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/InspectorProtocolObjects.h' l='1530' u='r' c='_ZN9Inspector8Protocol3CSS9RuleMatch7Builder7setRuleEON3WTF3RefINS1_7CSSRuleENS4_12RawPtrTraitsIS6_EEEE'/>
<use f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/InspectorProtocolObjects.h' l='1532' u='r' c='_ZN9Inspector8Protocol3CSS9RuleMatch7Builder7setRuleEON3WTF3RefINS1_7CSSRuleENS4_12RawPtrTraitsIS6_EEEE'/>
<use f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/InspectorProtocolObjects.h' l='1534' u='c' c='_ZN9Inspector8Protocol3CSS9RuleMatch7Builder7setRuleEON3WTF3RefINS1_7CSSRuleENS4_12RawPtrTraitsIS6_EEEE'/>
<dec f='WebKit/JavaScriptCore/DerivedSources/inspector/InspectorProtocolObjects.h' l='1507' type='1'/>
<use f='WebKit/JavaScriptCore/DerivedSources/inspector/InspectorProtocolObjects.h' l='1509' u='r'/>
<use f='WebKit/JavaScriptCore/DerivedSources/inspector/InspectorProtocolObjects.h' l='1530' u='r' c='_ZN9Inspector8Protocol3CSS9RuleMatch7Builder7setRuleEON3WTF3RefINS1_7CSSRuleENS4_12RawPtrTraitsIS6_EEEE'/>
<use f='WebKit/JavaScriptCore/DerivedSources/inspector/InspectorProtocolObjects.h' l='1532' u='r' c='_ZN9Inspector8Protocol3CSS9RuleMatch7Builder7setRuleEON3WTF3RefINS1_7CSSRuleENS4_12RawPtrTraitsIS6_EEEE'/>
<use f='WebKit/JavaScriptCore/DerivedSources/inspector/InspectorProtocolObjects.h' l='1534' u='c' c='_ZN9Inspector8Protocol3CSS9RuleMatch7Builder7setRuleEON3WTF3RefINS1_7CSSRuleENS4_12RawPtrTraitsIS6_EEEE'/>
