<dec f='include/jpeglib.h' l='696' type='struct jpeg_decomp_master *'/>
<offset>4544</offset>
<doc f='include/jpeglib.h' l='693'>/*
   * Links to decompression subobjects (methods, private variables of modules)
   */</doc>
