<use f='WebKit/Source/JavaScriptCore/interpreter/FrameTracers.h' l='57' u='w' c='_ZN3JSC18TopCallFrameSetterC1ERNS_2VMEPNS_9CallFrameE'/>
<use f='WebKit/Source/JavaScriptCore/interpreter/FrameTracers.h' l='65' u='m' c='_ZN3JSC18TopCallFrameSetterD1Ev'/>
<dec f='WebKit/Source/JavaScriptCore/interpreter/FrameTracers.h' l='68' type='JSC::VM &amp;'/>
<offset>0</offset>
<use f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/FrameTracers.h' l='57' u='w' c='_ZN3JSC18TopCallFrameSetterC1ERNS_2VMEPNS_9CallFrameE'/>
<use f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/FrameTracers.h' l='65' u='m' c='_ZN3JSC18TopCallFrameSetterD1Ev'/>
<dec f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/FrameTracers.h' l='68' type='JSC::VM &amp;'/>
<offset>0</offset>
