<dec f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/JSCConfig.h' l='77' type='struct (anonymous struct at /home/lemon/WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/JSCConfig.h:72:5)'/>
<offset>40</offset>
<dec f='WebKit/Source/JavaScriptCore/runtime/JSCConfig.h' l='77' type='struct (anonymous struct at /home/lemon/WebKit/Source/JavaScriptCore/runtime/JSCConfig.h:72:5)'/>
<offset>40</offset>
<use f='WebKit/Source/JavaScriptCore/runtime/InitializeThreading.cpp' l='71' u='m' c='_ZN3JSC10initializeEv'/>
<use f='WebKit/Source/JavaScriptCore/runtime/VM.cpp' l='261' u='m' c='_ZN3JSC2VM16computeCanUseJITEv'/>
