<dec f='WebKit/Source/JavaScriptCore/wasm/WasmFunctionParser.h' l='37' type='0'/>
<use f='WebKit/Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp' l='111' u='r' c='_ZN3JSC4Wasm13B3IRGenerator11ControlData4isIfERKS2_'/>
<use f='WebKit/Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp' l='117' c='_ZNK3JSC4Wasm13B3IRGenerator11ControlData4dumpERN3WTF11PrintStreamE'/>
<use f='WebKit/Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp' l='2261' u='r' c='_ZN3JSC4Wasm13B3IRGenerator5addIfEPNS_2B35ValueEPKNS0_9SignatureERN3WTF6VectorINS0_14FunctionParserIS1_E15TypedExpressionELm16ENS8_20UnsafeVectorOverf14812898'/>
<use f='WebKit/Source/JavaScriptCore/wasm/WasmB3IRGenerator.cpp' l='2363' u='r' c='_ZN3JSC4Wasm13B3IRGenerator19addEndToUnreachableERNS0_14FunctionParserIS1_E12ControlEntryERKN3WTF6VectorINS3_15TypedExpressionELm16ENS6_20UnsafeVector6366675'/>
<use f='WebKit/Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp' l='149' u='r' c='_ZN3JSC4Wasm14AirIRGenerator11ControlData4isIfERKS2_'/>
<use f='WebKit/Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp' l='155' c='_ZNK3JSC4Wasm14AirIRGenerator11ControlData4dumpERN3WTF11PrintStreamE'/>
<use f='WebKit/Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp' l='2963' u='r' c='_ZN3JSC4Wasm14AirIRGenerator5addIfENS0_8TypedTmpEPKNS0_9SignatureERN3WTF6VectorINS0_14FunctionParserIS1_E15TypedExpressionELm16ENS6_20UnsafeVectorOver3831466'/>
<use f='WebKit/Source/JavaScriptCore/wasm/WasmAirIRGenerator.cpp' l='3123' u='r' c='_ZN3JSC4Wasm14AirIRGenerator19addEndToUnreachableERNS0_14FunctionParserIS1_E12ControlEntryERKN3WTF6VectorINS3_15TypedExpressionELm16ENS6_20UnsafeVecto7805516'/>
