<use f='WebKit/Source/JavaScriptCore/dfg/DFGNode.h' l='209' u='w' c='_ZN3JSC3DFG10SwitchCaseC1ENS0_11LazyJSValueEPNS0_10BasicBlockE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGNode.h' l='217' u='m' c='_ZN3JSC3DFG10SwitchCase17withBytecodeIndexENS0_11LazyJSValueEj'/>
<dec f='WebKit/Source/JavaScriptCore/dfg/DFGNode.h' l='222' type='JSC::DFG::BranchTarget'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGNode.h' l='1661' u='m' c='_ZN3JSC3DFG4Node9successorEj'/>
<offset>128</offset>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGStaticExecutionCountEstimationPhase.cpp' l='78' u='a' c='_ZN3JSC3DFG35StaticExecutionCountEstimationPhase3runEv'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp' l='704' u='m' c='_ZN3JSC3DFG14ByteCodeParser15flushIfTerminalERNS0_10SwitchDataE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp' l='8556' u='m' c='_ZN3JSC3DFG14ByteCodeParser9linkBlockEPNS0_10BasicBlockERN3WTF6VectorIS3_Lm0ENS4_15CrashOnOverflowELm16ENS4_10FastMallocEEE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp' l='8556' u='m' c='_ZN3JSC3DFG14ByteCodeParser9linkBlockEPNS0_10BasicBlockERN3WTF6VectorIS3_Lm0ENS4_15CrashOnOverflowELm16ENS4_10FastMallocEEE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGCFGSimplificationPhase.cpp' l='149' u='m' c='_ZN3JSC3DFG22CFGSimplificationPhase3runEv'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGCFGSimplificationPhase.cpp' l='150' u='m' c='_ZN3JSC3DFG22CFGSimplificationPhase3runEv'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGCFGSimplificationPhase.cpp' l='173' u='m' c='_ZN3JSC3DFG22CFGSimplificationPhase3runEv'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGGraph.cpp' l='398' u='r' c='_ZN3JSC3DFG5Graph4dumpERN3WTF11PrintStreamEPKcPNS0_4NodeEPNS_11DumpContextE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGInPlaceAbstractState.cpp' l='432' u='m' c='_ZN3JSC3DFG20InPlaceAbstractState17mergeToSuccessorsEPNS0_10BasicBlockE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGJITCompiler.cpp' l='215' u='m' c='_ZN3JSC3DFG11JITCompiler4linkERNS_10LinkBufferE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGJITCompiler.cpp' l='236' u='m' c='_ZN3JSC3DFG11JITCompiler4linkERNS_10LinkBufferE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp' l='12346' u='m' c='_ZN3JSC3DFG14SpeculativeJIT24emitSwitchStringOnStringEPNS0_4NodeEPNS0_10SwitchDataENS_12X86Registers10RegisterIDE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp' l='12384' u='m' c='_ZN3JSC3DFG14SpeculativeJIT16emitSwitchStringEPNS0_4NodeEPNS0_10SwitchDataE'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='11342' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB313compileSwitchEv'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='11343' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB313compileSwitchEv'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16812' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB311buildSwitchEPNS_3DFG10SwitchDataENS_2B34TypeEPNS6_5ValueE'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16812' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB311buildSwitchEPNS_3DFG10SwitchDataENS_2B34TypeEPNS6_5ValueE'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16815' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB311buildSwitchEPNS_3DFG10SwitchDataENS_2B34TypeEPNS6_5ValueE'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16815' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB311buildSwitchEPNS_3DFG10SwitchDataENS_2B34TypeEPNS6_5ValueE'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='16876' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB312switchStringEPNS_3DFG10SwitchDataEPNS_2B35ValueERNS3_4EdgeE'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='17113' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB316switchStringSlowEPNS_3DFG10SwitchDataEPNS_2B35ValueE'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='17113' u='m' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB316switchStringSlowEPNS_3DFG10SwitchDataEPNS_2B35ValueE'/>
