<dec f='WebKit/Source/JavaScriptCore/dfg/DFGNode.h' l='283' type='DOMJIT::CallDOMGetterSnippet *'/>
<offset>128</offset>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGClobberize.h' l='1244' u='r' c='_ZN3JSC3DFG10clobberizeERNS0_5GraphEPNS0_4NodeERKT_RKT0_RKT1_RKT2_'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGAbstractInterpreterInlines.h' l='3648' u='r' c='_ZN3JSC3DFG19AbstractInterpreter14executeEffectsEjPNS0_4NodeE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp' l='3919' u='r' c='_ZN3JSC3DFGL18blessCallDOMGetterEPNS0_4NodeE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp' l='3954' u='w' c='_ZN3JSC3DFG14ByteCodeParser18handleDOMJITGetterENS_7OperandERKNS_12GetByVariantEPNS0_4NodeEjm'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGByteCodeParser.cpp' l='3957' u='r' c='_ZN3JSC3DFG14ByteCodeParser18handleDOMJITGetterENS_7OperandERKNS_12GetByVariantEPNS0_4NodeEjm'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGFixupPhase.cpp' l='2680' u='r' c='_ZN3JSC3DFG10FixupPhase9fixupNodeEPNS0_4NodeE'/>
<use f='WebKit/Source/JavaScriptCore/dfg/DFGSpeculativeJIT.cpp' l='10591' u='r' c='_ZN3JSC3DFG14SpeculativeJIT20compileCallDOMGetterEPNS0_4NodeE'/>
<use f='WebKit/Source/JavaScriptCore/ftl/FTLLowerDFGToB3.cpp' l='14940' u='r' c='_ZN3JSC3FTL12_GLOBAL__N_112LowerDFGToB320compileCallDOMGetterEv'/>
