<dec f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/ConsoleTypes.h' l='35' type='2'/>
<use f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/ConsoleTypes.h' l='86'/>
<dec f='WebKit/Source/JavaScriptCore/runtime/ConsoleTypes.h' l='35' type='2'/>
<use f='WebKit/Source/JavaScriptCore/runtime/ConsoleTypes.h' l='86'/>
<use f='WebKit/Source/JavaScriptCore/inspector/ConsoleMessage.cpp' l='182' c='_ZN9InspectorL18messageSourceValueEN3JSC13MessageSourceE'/>
<use f='WebKit/Source/JavaScriptCore/inspector/ConsoleMessage.cpp' l='249' u='r' c='_ZN9Inspector14ConsoleMessage13addToFrontendERNS_25ConsoleFrontendDispatcherERNS_21InjectedScriptManagerEb'/>
<use f='WebKit/Source/JavaScriptCore/runtime/ConsoleClient.cpp' l='71' c='_ZN3JSCL19appendMessagePrefixERN3WTF13StringBuilderENS_13MessageSourceENS_11MessageTypeENS_12MessageLevelE'/>
<use f='WebKit/Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitConsoleMessage.cpp' l='76' c='_Z33webkit_console_message_get_sourceP21_WebKitConsoleMessage'/>
<use f='WebKit/Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebPage.cpp' l='286' u='r' c='_ZN22PageResourceLoadClient29didReceiveResponseForResourceERN6WebKit7WebPageERNS0_8WebFrameEmRKN7WebCore16ResourceResponseE'/>
<use f='WebKit/Source/WebKit/WebProcess/InjectedBundle/API/glib/WebKitWebPage.cpp' l='319' u='r' c='_ZN22PageResourceLoadClient22didFailLoadForResourceERN6WebKit7WebPageERNS0_8WebFrameEmRKN7WebCore13ResourceErrorE'/>
<use f='WebKit/Source/WebKit/WebProcess/Network/WebSocketChannel.cpp' l='360' u='r' c='_ZN6WebKit16WebSocketChannel15logErrorMessageERKN3WTF6StringE'/>
<use f='WebKit/Source/WebCore/Modules/beacon/NavigatorBeacon.cpp' l='99' u='r' c='_ZN7WebCore15NavigatorBeacon8logErrorERKNS_13ResourceErrorE'/>
<use f='WebKit/Source/WebCore/Modules/websockets/WebSocketChannel.cpp' l='214' u='r' c='_ZN7WebCore16WebSocketChannel4failERKN3WTF6StringE'/>
<use f='WebKit/Source/WebCore/Modules/websockets/WebSocketChannel.cpp' l='362' u='r' c='_ZN7WebCore16WebSocketChannel19didFailSocketStreamERNS_18SocketStreamHandleERKNS_17SocketStreamErrorE'/>
<use f='WebKit/Source/WebCore/inspector/agents/WebConsoleAgent.cpp' l='72' u='a' c='_ZN7WebCore15WebConsoleAgent18didReceiveResponseEmRKNS_16ResourceResponseE'/>
<use f='WebKit/Source/WebCore/inspector/agents/WebConsoleAgent.cpp' l='83' u='a' c='_ZN7WebCore15WebConsoleAgent14didFailLoadingEmRKNS_13ResourceErrorE'/>
<use f='WebKit/Source/WebCore/loader/LinkLoader.cpp' l='225' u='r' c='_ZN7WebCore10LinkLoader18preconnectIfNeededERKNS_18LinkLoadParametersERNS_8DocumentE'/>
<use f='WebKit/Source/WebCore/loader/LinkLoader.cpp' l='227' u='r' c='_ZN7WebCore10LinkLoader18preconnectIfNeededERKNS_18LinkLoadParametersERNS_8DocumentE'/>
<use f='WebKit/Source/WebCore/loader/ResourceLoader.cpp' l='528' u='r' c='_ZN7WebCore14ResourceLoader18didReceiveResponseERKNS_16ResourceResponseEON3WTF17CompletionHandlerIFvvEEE'/>
