<use f='WebKit/Source/JavaScriptCore/API/JSObjectRef.cpp' l='789' u='w' c='_ZN25OpaqueJSPropertyNameArrayC1EPN3JSC2VME'/>
<dec f='WebKit/Source/JavaScriptCore/API/JSObjectRef.cpp' l='794' type='JSC::VM *'/>
<use f='WebKit/Source/JavaScriptCore/API/JSObjectRef.cpp' l='831' u='r' c='JSPropertyNameArrayRelease'/>
<offset>64</offset>
