<def f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='93' ll='102'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='144' c='_ZN7WebCore16InspectorOverlay9Highlight17setDataFromConfigERKNS1_6ConfigE'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='197' c='_ZN7WebCore16InspectorOverlay17highlightNodeListEON3WTF6RefPtrINS_8NodeListENS1_12RawPtrTraitsIS3_EENS1_21DefaultRefDerefTraitsIS3_EEEERKNS0_9Highlight6ConfigE'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='198' c='_ZN7WebCore16InspectorOverlay13highlightNodeEPNS_4NodeERKNS0_9Highlight6ConfigE'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='199' c='_ZN7WebCore16InspectorOverlay13highlightQuadESt10unique_ptrINS_9FloatQuadESt14default_deleteIS2_EERKNS0_9Highlight6ConfigE'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='253'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='256'/>
<size>48</size>
<mbr r='WebCore::InspectorOverlay::Highlight::Config::content' o='0' t='WebCore::Color'/>
<mbr r='WebCore::InspectorOverlay::Highlight::Config::contentOutline' o='64' t='WebCore::Color'/>
<mbr r='WebCore::InspectorOverlay::Highlight::Config::padding' o='128' t='WebCore::Color'/>
<mbr r='WebCore::InspectorOverlay::Highlight::Config::border' o='192' t='WebCore::Color'/>
<mbr r='WebCore::InspectorOverlay::Highlight::Config::margin' o='256' t='WebCore::Color'/>
<mbr r='WebCore::InspectorOverlay::Highlight::Config::showInfo' o='320' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Highlight::Config::usePageCoordinates' o='328' t='bool'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.h' l='218' c='_ZN7WebCore17InspectorDOMAgent34highlightConfigFromInspectorObjectERN3WTF6StringEONS1_6RefPtrINS1_8JSONImpl6ObjectENS1_12RawPtrTraitsIS6_EENS1_21Defau4407319'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.h' l='263'/>
<size>48</size>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.cpp' l='136' c='_ZN7WebCoreL22buildRendererHighlightEPNS_12RenderObjectERKNS_16InspectorOverlay9Highlight6ConfigERS3_NS2_16CoordinateSystemE'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.cpp' l='203' c='_ZN7WebCoreL18buildNodeHighlightERNS_4NodeERKNS_16InspectorOverlay9Highlight6ConfigERS3_NS2_16CoordinateSystemE'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.cpp' l='212' c='_ZN7WebCoreL18buildQuadHighlightERKNS_9FloatQuadERKNS_16InspectorOverlay9Highlight6ConfigERS4_'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.cpp' l='269' c='_ZN7WebCoreL21drawFragmentHighlightERNS_15GraphicsContextERNS_4NodeERKNS_16InspectorOverlay9Highlight6ConfigERNS_9FloatRectE'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.cpp' l='483' c='_ZN7WebCore16InspectorOverlay17highlightNodeListEON3WTF6RefPtrINS_8NodeListENS1_12RawPtrTraitsIS3_EENS1_21DefaultRefDerefTraitsIS3_EEEERKNS0_9Highlight6ConfigE'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.cpp' l='491' c='_ZN7WebCore16InspectorOverlay13highlightNodeEPNS_4NodeERKNS0_9Highlight6ConfigE'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.cpp' l='499' c='_ZN7WebCore16InspectorOverlay13highlightQuadESt10unique_ptrINS_9FloatQuadESt14default_deleteIS2_EERKNS0_9Highlight6ConfigE'/>
<size>48</size>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.cpp' l='1224' c='_ZN7WebCore17InspectorDOMAgent34highlightConfigFromInspectorObjectERN3WTF6StringEONS1_6RefPtrINS1_8JSONImpl6ObjectENS1_12RawPtrTraitsIS6_EENS1_21Defau4407319'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.cpp' l='1231' c='_ZN7WebCore17InspectorDOMAgent34highlightConfigFromInspectorObjectERN3WTF6StringEONS1_6RefPtrINS1_8JSONImpl6ObjectENS1_12RawPtrTraitsIS6_EENS1_21Defau4407319'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.cpp' l='1287' c='_ZN7WebCore17InspectorDOMAgent18innerHighlightQuadESt10unique_ptrINS_9FloatQuadESt14default_deleteIS2_EEON3WTF6RefPtrINS6_8JSONImpl6ObjectENS6_12RawPt903215'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.cpp' l='1400' c='_ZN7WebCore17InspectorDOMAgent13highlightNodeEON3WTF3RefINS1_8JSONImpl6ObjectENS1_12RawPtrTraitsIS4_EEEEOSt8optionalIiERKNS1_6StringE'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.cpp' l='1431' c='_ZN7WebCore17InspectorDOMAgent17highlightNodeListEON3WTF3RefINS1_8JSONImpl5ArrayENS1_12RawPtrTraitsIS4_EEEEONS2_INS3_6ObjectENS5_IS9_EEEE'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.cpp' l='1453' c='_ZN7WebCore17InspectorDOMAgent14highlightFrameERKN3WTF6StringEONS1_6RefPtrINS1_8JSONImpl6ObjectENS1_12RawPtrTraitsIS7_EENS1_21DefaultRefDerefTraitsIS7_EEEESD_'/>
<size>48</size>
