<inh f='WebKit/Source/WebCore/platform/Timer.h' l='44' c='WebCore::TimerBase'/>
<def f='WebKit/Source/WebCore/platform/Timer.h' l='108' ll='139'/>
<use f='WebKit/Source/WebCore/platform/Timer.h' l='113' c='_ZN7WebCore5Timer8scheduleEN3WTF7SecondsEONS1_8FunctionIFvvEEE'/>
<use f='WebKit/Source/WebCore/platform/graphics/Image.h' l='211'/>
<size>48</size>
<fun r='_ZN7WebCore5Timer8scheduleEN3WTF7SecondsEONS1_8FunctionIFvvEEE'/>
<fun r='_ZN7WebCore5TimerC1ERT_MT0_FvvE'/>
<fun r='_ZN7WebCore5TimerC1EON3WTF8FunctionIFvvEEE'/>
<fun r='_ZN7WebCore5Timer5firedEv'/>
<mbr r='WebCore::Timer::m_function' o='320' t='WTF::Function&lt;void ()&gt;'/>
<use f='WebKit/Source/WebCore/page/PageOverlay.h' l='129'/>
<use f='WebKit/Source/WebCore/page/SettingsBase.h' l='147'/>
<use f='WebKit/Source/WebCore/dom/Document.h' l='1821'/>
<use f='WebKit/Source/WebCore/dom/Document.h' l='1843'/>
<use f='WebKit/Source/WebCore/dom/Document.h' l='1914'/>
<use f='WebKit/Source/WebCore/dom/Document.h' l='1923'/>
<use f='WebKit/Source/WebCore/dom/Document.h' l='1965'/>
<use f='WebKit/Source/WebCore/dom/Document.h' l='1978'/>
<use f='WebKit/Source/WebCore/dom/Document.h' l='1981'/>
<use f='WebKit/Source/WebCore/dom/Document.h' l='2014'/>
<use f='WebKit/Source/WebCore/dom/Document.h' l='2015'/>
<use f='WebKit/Source/WebCore/editing/FrameSelection.h' l='334'/>
<use f='WebKit/Source/WebCore/editing/FrameSelection.h' l='336'/>
<use f='WebKit/Source/WebCore/page/Page.h' l='1042'/>
<use f='WebKit/Source/WebCore/page/Page.h' l='1110'/>
<use f='WebKit/Source/WebCore/page/FrameViewLayoutContext.h' l='173'/>
<use f='WebKit/Source/WebCore/page/FrameViewLayoutContext.h' l='174'/>
<use f='WebKit/Source/WebCore/platform/Scrollbar.h' l='171'/>
<use f='WebKit/Source/WebCore/page/FrameView.h' l='877'/>
<use f='WebKit/Source/WebCore/page/FrameView.h' l='878'/>
<use f='WebKit/Source/WebCore/page/FrameView.h' l='879'/>
<use f='WebKit/Source/WebCore/page/FrameView.h' l='880'/>
<use f='WebKit/Source/WebCore/page/FrameView.h' l='881'/>
<size>48</size>
<use f='WebKit/Source/WebCore/loader/DocumentLoader.h' l='583'/>
<use f='WebKit/Source/WebCore/loader/cache/CachedResource.h' l='409'/>
<use f='WebKit/Source/WebKit/WebProcess/WebPage/WebPage.h' l='2253'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/graphics/BitmapImage.h' l='226'/>
<size>48</size>
<use f='WebKit/Source/WebKit/Shared/WebMemorySampler.h' l='100'/>
<use f='WebKit/Source/WebKit/Shared/WebMemorySampler.h' l='101'/>
<size>48</size>
<use f='WebKit/Source/WebKit/WebProcess/WebProcess.h' l='690'/>
<use f='WebKit/Source/WebKit/NetworkProcess/cache/PrefetchCache.h' l='73'/>
<use f='WebKit/Source/WebKit/NetworkProcess/cache/NetworkCacheStorage.h' l='192'/>
<use f='WebKit/Source/WebKit/NetworkProcess/cache/NetworkCacheStorage.h' l='196'/>
<size>48</size>
<use f='WebKit/Source/WebCore/accessibility/AXObjectCache.h' l='492'/>
<use f='WebKit/Source/WebCore/accessibility/AXObjectCache.h' l='495'/>
<use f='WebKit/Source/WebCore/accessibility/AXObjectCache.h' l='499'/>
<use f='WebKit/Source/WebCore/accessibility/AXObjectCache.h' l='502'/>
<use f='WebKit/Source/WebCore/accessibility/AXObjectCache.h' l='509'/>
<use f='WebKit/Source/WebCore/page/FocusController.h' l='125'/>
<use f='WebKit/Source/WebCore/loader/FrameLoader.h' l='474'/>
<use f='WebKit/Source/WebCore/platform/graphics/MediaPlayer.h' l='688'/>
<use f='WebKit/Source/WebCore/rendering/RenderLayerCompositor.h' l='580'/>
<use f='WebKit/Source/WebKit/WebProcess/InjectedBundle/API/c/WKBundlePage.cpp' l='760' c='WKBundlePageCallAfterTasksAndTimers'/>
<size>48</size>
<use f='WebKit/Source/WebCore/page/CaptionUserPreferences.h' l='116'/>
<use f='WebKit/Source/WebCore/html/MediaElementSession.h' l='231'/>
<use f='WebKit/Source/WebCore/html/MediaElementSession.h' l='232'/>
<use f='WebKit/Source/WebCore/html/HTMLMediaElement.h' l='942'/>
<use f='WebKit/Source/WebCore/html/HTMLMediaElement.h' l='943'/>
<use f='WebKit/Source/WebCore/html/HTMLMediaElement.h' l='944'/>
<use f='WebKit/Source/WebCore/html/HTMLMediaElement.h' l='945'/>
<use f='WebKit/Source/WebCore/html/HTMLMediaElement.h' l='946'/>
<use f='WebKit/Source/WebCore/html/HTMLPlugInElement.h' l='121'/>
<size>48</size>
<use f='WebKit/Source/WebCore/workers/service/context/SWContextManager.h' l='128'/>
<use f='WebKit/Source/WebCore/rendering/RenderView.h' l='244'/>
<size>48</size>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='259'/>
<size>48</size>
<use f='WebKit/Source/WebCore/workers/service/context/ServiceWorkerThread.h' l='111'/>
<use f='WebKit/Source/WebKit/NetworkProcess/ServiceWorker/ServiceWorkerFetchTask.h' l='102'/>
<use f='WebKit/Source/WebCore/workers/service/server/SWServerWorker.h' l='160'/>
<use f='WebKit/Source/WebCore/workers/service/server/SWServer.h' l='259'/>
<size>48</size>
<use f='WebKit/Source/WebCore/editing/Editor.h' l='665'/>
<use f='WebKit/Source/WebCore/Modules/geolocation/Geolocation.h' l='165'/>
<size>48</size>
<use f='WebKit/Source/WebCore/page/EventHandler.h' l='535'/>
<use f='WebKit/Source/WebCore/page/EventHandler.h' l='584'/>
<use f='WebKit/Source/WebCore/page/EventHandler.h' l='588'/>
<size>48</size>
<use f='WebKit/Source/WebCore/loader/cache/MemoryCache.h' l='212'/>
<size>48</size>
<use f='WebKit/Source/WebKit/NetworkProcess/NetworkSocketChannel.h' l='95'/>
<use f='WebKit/Source/WebCore/Modules/websockets/WebSocketChannel.h' l='202'/>
<use f='WebKit/Source/WebCore/Modules/websockets/WebSocketChannel.h' l='207'/>
<size>48</size>
<use f='WebKit/Source/WebKit/NetworkProcess/Downloads/DownloadMonitor.h' l='57'/>
<use f='WebKit/Source/WebKit/NetworkProcess/NetworkResourceLoader.h' l='233'/>
<size>48</size>
<use f='WebKit/Source/WebKit/NetworkProcess/NetworkSocketStream.h' l='76'/>
<use f='WebKit/Source/WebKit/NetworkProcess/PingLoad.h' l='73'/>
<use f='WebKit/Source/WebKit/NetworkProcess/PrivateClickMeasurementManager.h' l='83'/>
<size>48</size>
<use f='WebKit/Source/WebKit/NetworkProcess/cache/AsyncRevalidation.h' l='63'/>
<size>48</size>
<use f='WebKit/Source/WebKit/NetworkProcess/cache/NetworkCacheSpeculativeLoadManager.cpp' l='138'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/graphics/FontCache.h' l='313'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h' l='494'/>
<size>48</size>
<use f='WebKit/Source/WebCore/html/canvas/WebGLRenderingContextBase.h' l='1132'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h' l='229'/>
<size>48</size>
<use f='WebKit/Source/WebCore/loader/cache/CachedResourceLoader.h' l='211'/>
<use f='WebKit/Source/WebCore/loader/cache/CachedResourceLoader.h' l='213'/>
<use f='WebKit/Source/WebCore/animation/DocumentTimeline.h' l='98'/>
<use f='WebKit/Source/WebCore/svg/animation/SMILTimeContainer.h' l='89'/>
<use f='WebKit/Source/WebCore/svg/SVGElement.h' l='79' c='_ZN7WebCore10SVGElement14loadEventTimerEv'/>
<use f='WebKit/Source/WebCore/Modules/mediasource/SourceBuffer.h' l='213'/>
<use f='WebKit/Source/WebCore/Modules/mediasource/SourceBuffer.h' l='239'/>
<use f='WebKit/Source/WebCore/editing/SpellChecker.h' l='100'/>
<use f='WebKit/Source/WebCore/style/MatchedDeclarationsCache.h' l='65'/>
<use f='WebKit/Source/WebCore/style/StyleScope.h' l='177'/>
<use f='WebKit/Source/WebCore/xml/XMLHttpRequest.h' l='250'/>
<use f='WebKit/Source/WebCore/html/track/VTTRegion.h' l='155'/>
<size>48</size>
<use f='WebKit/Source/WebCore/bindings/js/GCController.h' l='58'/>
<size>48</size>
<use f='WebKit/Source/WebCore/rendering/RenderMarquee.h' l='84'/>
<use f='WebKit/Source/WebCore/platform/ScrollAnimator.h' l='177'/>
<use f='WebKit/Source/WebCore/css/CSSFontFace.h' l='198'/>
<size>48</size>
<use f='WebKit/Source/WebCore/rendering/RenderProgress.h' l='57'/>
<size>48</size>
<use f='WebKit/Source/WebCore/html/shadow/SpinButtonElement.h' l='90'/>
<use f='WebKit/Source/WebCore/rendering/ImageQualityController.h' l='63'/>
<size>48</size>
<use f='WebKit/Source/WebCore/loader/ImageLoader.h' l='122'/>
<size>48</size>
<use f='WebKit/Source/WebCore/svg/SVGUseElement.h' l='96' c='_ZN7WebCore13SVGUseElement14loadEventTimerEv'/>
<use f='WebKit/Source/WebCore/svg/SVGUseElement.h' l='110'/>
<size>48</size>
<use f='WebKit/Source/WebCore/svg/graphics/SVGImage.h' l='107'/>
<size>48</size>
<use f='WebKit/Source/WebCore/loader/ProgressTracker.h' l='78'/>
<size>48</size>
<use f='WebKit/Source/WebCore/svg/SVGStyleElement.h' l='61' c='_ZN7WebCore15SVGStyleElement14loadEventTimerEv'/>
<use f='WebKit/Source/WebCore/svg/SVGStyleElement.h' l='66'/>
<size>48</size>
<use f='WebKit/Source/WebCore/html/MediaController.h' l='145'/>
<use f='WebKit/Source/WebCore/html/MediaController.h' l='146'/>
<use f='WebKit/Source/WebCore/html/MediaController.h' l='151'/>
<use f='WebKit/Source/WebCore/page/Performance.h' l='142'/>
<use f='WebKit/Source/WebCore/Modules/websockets/WebSocket.h' l='145'/>
<use f='WebKit/Source/WebCore/html/HTMLSourceElement.h' l='65'/>
<use f='WebKit/Source/WebCore/loader/TextTrackLoader.h' l='89'/>
<use f='WebKit/Source/WebCore/html/track/LoadableTextTrack.h' l='68'/>
<use f='WebKit/Source/WebCore/html/HTMLTrackElement.h' l='96'/>
<size>48</size>
<use f='WebKit/Source/WebCore/svg/SVGScriptElement.h' l='75' c='_ZN7WebCore16SVGScriptElement14loadEventTimerEv'/>
<use f='WebKit/Source/WebCore/svg/SVGScriptElement.h' l='88'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/generic/ScrollAnimatorGeneric.h' l='75'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/graphics/BitmapImage.cpp' l='406' c='_ZN7WebCore11BitmapImage10startTimerEN3WTF7SecondsE'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/graphics/Image.cpp' l='349' c='_ZN7WebCore5Image28startAnimationAsynchronouslyEv'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/mock/DeviceOrientationClientMock.h' l='60'/>
<use f='WebKit/Source/WebCore/page/DeviceController.h' l='64'/>
<use f='WebKit/Source/WebCore/platform/mock/GeolocationClientMock.h' l='82'/>
<use f='WebKit/Source/WebCore/platform/mock/GeolocationClientMock.h' l='83'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/network/DNSResolveQueue.h' l='66'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/network/NetworkStateNotifier.h' l='76'/>
<size>48</size>
<use f='WebKit/Source/WebCore/platform/network/ResourceHandleInternal.h' l='150'/>
<size>48</size>
<use f='WebKit/Source/WebCore/dom/ScriptableDocumentParser.h' l='71'/>
<size>48</size>
<use f='WebKit/Source/WebCore/dom/WindowEventLoop.h' l='69'/>
<size>48</size>
<use f='WebKit/Source/WebCore/Modules/geolocation/GeoNotifier.h' l='73'/>
<size>48</size>
<use f='WebKit/Source/WebCore/page/AutoscrollController.h' l='79'/>
<size>48</size>
<use f='WebKit/Source/WebCore/page/RenderingUpdateScheduler.h' l='67'/>
<use f='WebKit/Source/WebCore/page/RenderingUpdateScheduler.cpp' l='100' c='_ZN7WebCore24RenderingUpdateScheduler10startTimerEN3WTF7SecondsE'/>
<size>48</size>
<use f='WebKit/Source/WebCore/loader/NavigationScheduler.h' l='79'/>
<size>48</size>
<use f='WebKit/Source/WebCore/dom/ScriptRunner.h' l='67'/>
<size>48</size>
<use f='WebKit/Source/WebCore/page/PerformanceMonitor.h' l='57'/>
<use f='WebKit/Source/WebCore/page/PerformanceMonitor.h' l='59'/>
<use f='WebKit/Source/WebCore/page/PerformanceMonitor.h' l='61'/>
<use f='WebKit/Source/WebCore/page/PerformanceMonitor.h' l='64'/>
<use f='WebKit/Source/WebCore/page/PerformanceMonitor.h' l='65'/>
<use f='WebKit/Source/WebCore/page/PerformanceMonitor.h' l='67'/>
<size>48</size>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorCanvasAgent.h' l='172'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorCanvasAgent.h' l='177'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.h' l='269'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.h' l='272'/>
<size>48</size>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorAnimationAgent.h' l='94'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorCSSAgent.h' l='179'/>
<size>48</size>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.cpp' l='186'/>
<size>48</size>
<use f='WebKit/Source/WebCore/dom/EventSender.h' l='57'/>
<size>48</size>
<use f='WebKit/Source/WebCore/svg/SVGElement.cpp' l='491' c='_ZN7WebCore10SVGElement14loadEventTimerEv'/>
<size>48</size>
<use f='WebKit/Source/WebCore/html/SearchInputType.h' l='69'/>
<size>48</size>
<use f='WebKit/Source/WebCore/html/ValidationMessage.h' l='70'/>
<use f='WebKit/Source/WebCore/html/ValidationMessage.cpp' l='119' c='_ZN7WebCore17ValidationMessage10setMessageERKN3WTF6StringE'/>
<use f='WebKit/Source/WebCore/html/ValidationMessage.cpp' l='121' c='_ZN7WebCore17ValidationMessage10setMessageERKN3WTF6StringE'/>
<use f='WebKit/Source/WebCore/html/ValidationMessage.cpp' l='147' c='_ZN7WebCore17ValidationMessage26setMessageDOMAndStartTimerEv'/>
<use f='WebKit/Source/WebCore/html/ValidationMessage.cpp' l='253' c='_ZN7WebCore17ValidationMessage20requestToHideMessageEv'/>
<size>48</size>
<use f='WebKit/Source/WebCore/html/parser/HTMLParserScheduler.h' l='123'/>
<size>48</size>
<use f='WebKit/Source/WebCore/dom/DocumentFontLoader.h' l='57'/>
<size>48</size>
<use f='WebKit/Source/WebCore/loader/NavigationScheduler.cpp' l='93' c='_ZN7WebCore19ScheduledNavigation13didStartTimerERNS_5FrameERNS_5TimerE'/>
<use f='WebKit/Source/WebCore/loader/NavigationScheduler.cpp' l='130' c='_ZN7WebCore22ScheduledURLNavigation13didStartTimerERNS_5FrameERNS_5TimerE'/>
<use f='WebKit/Source/WebCore/loader/NavigationScheduler.cpp' l='313' c='_ZN7WebCore23ScheduledFormSubmission13didStartTimerERNS_5FrameERNS_5TimerE'/>
<size>48</size>
<use f='WebKit/Source/WebCore/workers/service/server/RegistrationStore.h' l='80'/>
<size>48</size>
<use f='WebKit/Source/WebCore/workers/service/server/SWServerRegistration.h' l='136'/>
<use f='WebKit/Source/WebCore/workers/service/server/SWServerJobQueue.h' l='79'/>
<use f='WebKit/Source/WebCore/workers/service/server/SWServer.cpp' l='963' c='_ZN7WebCore8SWServer29unregisterServiceWorkerClientERKNS_12ClientOriginENS_29ServiceWorkerClientIdentifierE'/>
<size>48</size>
