<dec f='WebKit/Source/WebCore/Modules/speech/SpeechRecognitionError.h' l='36' type='3'/>
<use f='WebKit/Source/WebCore/Modules/speech/SpeechRecognitionError.h' l='83'/>
<use f='WebKit/WebCore/DerivedSources/JSSpeechRecognitionErrorCode.cpp' l='47' u='r' c='_ZN7WebCore26convertEnumerationToStringENS_26SpeechRecognitionErrorTypeE'/>
<use f='WebKit/WebCore/DerivedSources/JSSpeechRecognitionErrorCode.cpp' l='71' u='a' c='_ZN7WebCore16parseEnumerationERN3JSC14JSGlobalObjectENS0_7JSValueE'/>
