<dec f='WebKit/Source/WebCore/html/parser/HTMLPreloadScanner.h' l='60' type='9'/>
<use f='WebKit/Source/WebCore/html/parser/HTMLPreloadScanner.cpp' l='70' u='r' c='_ZN7WebCore19TokenPreloadScanner8tagIdForERKN3WTF6VectorIDsLm256ENS1_15CrashOnOverflowELm16ENS1_10FastMallocEEE'/>
<use f='WebKit/Source/WebCore/html/parser/HTMLPreloadScanner.cpp' l='95' c='_ZN7WebCore19TokenPreloadScanner12initiatorForENS0_5TagIdE'/>
<use f='WebKit/Source/WebCore/html/parser/HTMLPreloadScanner.cpp' l='306' c='_ZN7WebCore19TokenPreloadScanner15StartTagScanner16processAttributeERKN3WTF10AtomStringERKNS2_6StringERKNS2_6VectorIbLm0ENS2_15CrashOnOverflowELm16ENS2_10FastMallocEEE'/>
<use f='WebKit/Source/WebCore/html/parser/HTMLPreloadScanner.cpp' l='355' c='_ZNK7WebCore19TokenPreloadScanner15StartTagScanner12resourceTypeEv'/>
<use f='WebKit/Source/WebCore/html/parser/HTMLPreloadScanner.cpp' l='427' u='r' c='_ZN7WebCore19TokenPreloadScanner4scanERKNS_9HTMLTokenERN3WTF6VectorISt10unique_ptrINS_14PreloadRequestESt14default_deleteIS7_EELm0ENS4_15CrashOnOverfl11591061'/>
<use f='WebKit/Source/WebCore/html/parser/HTMLPreloadScanner.cpp' l='446' u='r' c='_ZN7WebCore19TokenPreloadScanner4scanERKNS_9HTMLTokenERN3WTF6VectorISt10unique_ptrINS_14PreloadRequestESt14default_deleteIS7_EELm0ENS4_15CrashOnOverfl11591061'/>
