<def f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='171' ll='180'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='183'/>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.h' l='216' c='_ZN7WebCore16InspectorOverlay21setGridOverlayForNodeERNS_4NodeERKNS0_4Grid6ConfigE'/>
<size>16</size>
<mbr r='WebCore::InspectorOverlay::Grid::Config::gridColor' o='0' t='WebCore::Color'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showLineNames' o='64' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showLineNumbers' o='72' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showExtendedGridLines' o='80' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showTrackSizes' o='88' t='bool'/>
<mbr r='WebCore::InspectorOverlay::Grid::Config::showAreaNames' o='96' t='bool'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.h' l='219' c='_ZN7WebCore17InspectorDOMAgent36gridOverlayConfigFromInspectorObjectERN3WTF6StringEONS1_6RefPtrINS1_8JSONImpl6ObjectENS1_12RawPtrTraitsIS6_EENS1_21Def11620150'/>
<size>16</size>
<use f='WebKit/Source/WebCore/inspector/InspectorOverlay.cpp' l='601' c='_ZN7WebCore16InspectorOverlay21setGridOverlayForNodeERNS_4NodeERKNS0_4Grid6ConfigE'/>
<size>16</size>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorDOMAgent.cpp' l='1481' c='_ZN7WebCore17InspectorDOMAgent15showGridOverlayEiON3WTF3RefINS1_8JSONImpl6ObjectENS1_12RawPtrTraitsIS4_EEEEOSt8optionalIbESB_SB_SB_SB_'/>
<size>16</size>
