<dec f='WebKit/Source/WebCore/page/IntersectionObserverEntry.h' l='50' type='RefPtr&lt;WebCore::Element&gt;'/>
<offset>960</offset>
<use f='WebKit/WebCore/DerivedSources/JSIntersectionObserverEntry.cpp' l='150' u='w' c='_ZN7WebCore17convertDictionaryERN3JSC14JSGlobalObjectENS0_7JSValueE'/>
<use f='WebKit/Source/WebCore/page/IntersectionObserverEntry.cpp' l='40' u='r' c='_ZN7WebCore25IntersectionObserverEntryC1ERKNS0_4InitE'/>
