<dec f='WebKit/Source/WebCore/style/StyleScopeRuleSets.h' l='47' type='Ref&lt;WebCore::Style::RuleSet&gt;'/>
<offset>64</offset>
<use f='WebKit/Source/WebCore/style/StyleInvalidator.cpp' l='361' u='m' c='_ZN7WebCore5Style11Invalidator25addToMatchElementRuleSetsERN3WTF7HashMapINS0_12MatchElementENS2_6VectorINS2_6RefPtrIKNS0_7RuleSetENS2_12RawPtrTraitsIS3188261'/>
