<use f='WebKit/Source/WebCore/style/ElementRuleCollector.cpp' l='76' u='w' c='_ZN7WebCore5Style12MatchRequestC1EPKNS0_7RuleSetENS0_12ScopeOrdinalE'/>
<dec f='WebKit/Source/WebCore/style/ElementRuleCollector.cpp' l='80' type='const WebCore::Style::RuleSet *'/>
<use f='WebKit/Source/WebCore/style/ElementRuleCollector.cpp' l='150' u='r' c='_ZN7WebCore5Style20ElementRuleCollector20collectMatchingRulesERKNS0_12MatchRequestE'/>
<use f='WebKit/Source/WebCore/style/ElementRuleCollector.cpp' l='153' u='r' c='_ZN7WebCore5Style20ElementRuleCollector20collectMatchingRulesERKNS0_12MatchRequestE'/>
<use f='WebKit/Source/WebCore/style/ElementRuleCollector.cpp' l='157' u='r' c='_ZN7WebCore5Style20ElementRuleCollector20collectMatchingRulesERKNS0_12MatchRequestE'/>
<use f='WebKit/Source/WebCore/style/ElementRuleCollector.cpp' l='159' u='r' c='_ZN7WebCore5Style20ElementRuleCollector20collectMatchingRulesERKNS0_12MatchRequestE'/>
<use f='WebKit/Source/WebCore/style/ElementRuleCollector.cpp' l='160' u='r' c='_ZN7WebCore5Style20ElementRuleCollector20collectMatchingRulesERKNS0_12MatchRequestE'/>
<use f='WebKit/Source/WebCore/style/ElementRuleCollector.cpp' l='161' u='r' c='_ZN7WebCore5Style20ElementRuleCollector20collectMatchingRulesERKNS0_12MatchRequestE'/>
<use f='WebKit/Source/WebCore/style/ElementRuleCollector.cpp' l='338' u='r' c='_ZN7WebCore5Style20ElementRuleCollector39collectMatchingShadowPseudoElementRulesERKNS0_12MatchRequestE'/>
<offset>0</offset>
