<dec f='WebKit/WebCore/DerivedSources/HTTPHeaderNames.h' l='106' type='69'/>
<use f='WebKit/WebCore/DerivedSources/HTTPHeaderNames.h' l='206'/>
<use f='WebKit/WebCore/DerivedSources/HTTPHeaderNames.cpp' l='220'/>
<use f='WebKit/WebCore/DerivedSources/HTTPHeaderNames.cpp' l='220'/>
<use f='WebKit/WebCore/DerivedSources/HTTPHeaderNames.cpp' l='220'/>
<use f='WebKit/WebCore/DerivedSources/HTTPHeaderNames.cpp' l='220'/>
<use f='WebKit/Source/WebCore/platform/network/HTTPParsers.cpp' l='781' c='_ZN7WebCore21isForbiddenHeaderNameERKN3WTF6StringE'/>
