<dec f='WebKit/Source/WebCore/dom/SecurityPolicyViolationEvent.h' l='47' type='WTF::String'/>
<use f='WebKit/Source/WebCore/dom/SecurityPolicyViolationEvent.h' l='91' u='r' c='_ZN7WebCore28SecurityPolicyViolationEventC1ERKN3WTF10AtomStringERKNS0_4InitENS_5Event9IsTrustedE'/>
<use f='WebKit/Source/WebCore/dom/SecurityPolicyViolationEvent.h' l='124' c='_ZNK7WebCore28SecurityPolicyViolationEvent4Init6encodeERT_'/>
<use f='WebKit/Source/WebCore/dom/SecurityPolicyViolationEvent.h' l='150' c='_ZN7WebCore28SecurityPolicyViolationEvent4Init6decodeERT_RS1_'/>
<offset>512</offset>
<use f='WebKit/WebCore/DerivedSources/JSSecurityPolicyViolationEvent.cpp' l='244' u='w' c='_ZN7WebCore17convertDictionaryERN3JSC14JSGlobalObjectENS0_7JSValueE'/>
<use f='WebKit/WebCore/DerivedSources/JSSecurityPolicyViolationEvent.cpp' l='247' u='w' c='_ZN7WebCore17convertDictionaryERN3JSC14JSGlobalObjectENS0_7JSValueE'/>
