<dec f='WebKit/Source/WebCore/platform/network/ResourceResponseBase.h' l='162' type='1'/>
<use f='WebKit/Source/WebCore/platform/network/ResourceResponseBase.h' l='465'/>
<use f='WebKit/Source/WebKit/WebProcess/Network/WebLoaderStrategy.cpp' l='895' c='_ZNK6WebKit17WebLoaderStrategy27havePerformedSecurityChecksERKN7WebCore16ResourceResponseE'/>
<use f='WebKit/Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp' l='362' c='_ZN6WebKit21NetworkResourceLoader16resourceLoadInfoEv'/>
<use f='WebKit/Source/WebKit/NetworkProcess/NetworkResourceLoader.cpp' l='834' u='r' c='_ZN6WebKit21NetworkResourceLoader25willSendRedirectedRequestEON7WebCore15ResourceRequestES3_ONS1_16ResourceResponseE'/>
<use f='WebKit/Source/WebCore/testing/Internals.cpp' l='800' c='_ZN7WebCoreL22responseSourceToStringERKNS_16ResourceResponseE'/>
<use f='WebKit/Source/WebCore/platform/network/ResourceResponseBase.cpp' l='158' u='r' c='_ZN7WebCore20ResourceResponseBase15dataURLResponseERKN3WTF3URLERKNS_14DataURLDecoder6ResultE'/>
<use f='WebKit/Source/WebCore/inspector/agents/InspectorNetworkAgent.cpp' l='322' c='_ZN7WebCoreL14responseSourceENS_20ResourceResponseBase6SourceE'/>
<use f='WebKit/Source/WebCore/loader/soup/ResourceLoaderSoup.cpp' l='71' u='r' c='_ZN7WebCore14ResourceLoader13loadGResourceEv'/>
<use f='WebKit/Source/WebCore/loader/ResourceLoader.cpp' l='472' c='_ZN7WebCoreL25logResourceResponseSourceEPNS_5FrameENS_20ResourceResponseBase6SourceE'/>
