<dec f='WebKit/Source/WebCore/platform/RuntimeApplicationChecks.h' l='37' type='1'/>
<use f='WebKit/Source/WebCore/platform/RuntimeApplicationChecks.h' l='52' u='r' c='_ZN7WebCore18isInNetworkProcessEv'/>
