<dec f='WebKit/Source/WebCore/loader/appcache/ApplicationCacheResource.h' l='36' type='1'/>
<use f='WebKit/Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp' l='244' u='r' c='_ZN7WebCore21ApplicationCacheGroup27finishedLoadingMainResourceERNS_14DocumentLoaderE'/>
<use f='WebKit/Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp' l='245' u='r' c='_ZN7WebCore21ApplicationCacheGroup27finishedLoadingMainResourceERNS_14DocumentLoaderE'/>
<use f='WebKit/Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp' l='249' u='r' c='_ZN7WebCore21ApplicationCacheGroup27finishedLoadingMainResourceERNS_14DocumentLoaderE'/>
<use f='WebKit/Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp' l='262' u='r' c='_ZN7WebCore21ApplicationCacheGroup27finishedLoadingMainResourceERNS_14DocumentLoaderE'/>
<use f='WebKit/Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp' l='263' u='r' c='_ZN7WebCore21ApplicationCacheGroup27finishedLoadingMainResourceERNS_14DocumentLoaderE'/>
<use f='WebKit/Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp' l='267' u='r' c='_ZN7WebCore21ApplicationCacheGroup27finishedLoadingMainResourceERNS_14DocumentLoaderE'/>
<use f='WebKit/Source/WebCore/loader/appcache/ApplicationCacheGroup.cpp' l='633' u='r' c='_ZN7WebCore21ApplicationCacheGroup24didFinishLoadingManifestEv'/>
<use f='WebKit/Source/WebCore/loader/appcache/ApplicationCacheHost.cpp' l='362' u='r' c='_ZN7WebCore20ApplicationCacheHost12resourceListEv'/>
