<dec f='WebKit/Source/WebCore/platform/MediaSample.h' l='57' type='union (anonymous union at /home/lemon/WebKit/Source/WebCore/MediaSample.h:52:5)'/>
<offset>64</offset>
<use f='WebKit/Source/WebCore/platform/graphics/gstreamer/ImageDecoderGStreamer.cpp' l='67' u='m' c='_ZN7WebCore27ImageDecoderGStreamerSampleC1EON3WTF7GRefPtrI10_GstSampleEERKNS_9FloatSizeE'/>
<use f='WebKit/Source/WebCore/platform/graphics/gstreamer/mse/SourceBufferPrivateGStreamer.cpp' l='158' u='m' c='_ZN7WebCore28SourceBufferPrivateGStreamer13enqueueSampleEON3WTF3RefINS_11MediaSampleENS1_12RawPtrTraitsIS3_EEEERKNS1_10AtomStringE'/>
<use f='WebKit/Source/WebCore/platform/mock/mediasource/MockSourceBufferPrivate.cpp' l='315' u='m' c='_ZN7WebCore23MockSourceBufferPrivate13enqueueSampleEON3WTF3RefINS_11MediaSampleENS1_12RawPtrTraitsIS3_EEEERKNS1_10AtomStringE'/>
