<dec f='WebKit/Source/WebCore/Modules/mediasource/MediaSource.h' l='78' type='0'/>
<use f='WebKit/WebCore/DerivedSources/JSMediaSource.cpp' l='69' u='r' c='_ZN7WebCore26convertEnumerationToStringENS_11MediaSource16EndOfStreamErrorE'/>
<use f='WebKit/WebCore/DerivedSources/JSMediaSource.cpp' l='84' u='a' c='_ZN7WebCore16parseEnumerationERN3JSC14JSGlobalObjectENS0_7JSValueE'/>
<use f='WebKit/Source/WebCore/Modules/mediasource/MediaSource.cpp' l='589' u='r' c='_ZN7WebCore11MediaSource20streamEndedWithErrorESt8optionalINS0_16EndOfStreamErrorEE'/>
