<def f='WebKit/Source/WebCore/page/SecurityOrigin.h' l='41' ll='45'/>
<use f='WebKit/Source/WebCore/page/SecurityOrigin.h' l='155' c='_ZNK7WebCore14SecurityOrigin20canShowNotificationsEv'/>
<use f='WebKit/Source/WebCore/page/SecurityOrigin.cpp' l='448' c='_ZNK7WebCore14SecurityOrigin20canShowNotificationsEv'/>
