<dec f='WebKit/Source/WebCore/dom/ScopedEventQueue.h' l='56' type='GCReachableRef&lt;WebCore::Node&gt;'/>
<offset>64</offset>
<use f='WebKit/Source/WebCore/dom/ScopedEventQueue.cpp' l='59' u='m' c='_ZNK7WebCore16ScopedEventQueue13dispatchEventERKNS0_11ScopedEventE'/>
<use f='WebKit/Source/WebCore/dom/ScopedEventQueue.cpp' l='61' u='m' c='_ZNK7WebCore16ScopedEventQueue13dispatchEventERKNS0_11ScopedEventE'/>
