<dec f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='283' type='2'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='292' u='r' c='_ZN6WebKitL43computeNetworkProcessAccessTypeForDataFetchEN3WTF9OptionSetINS_15WebsiteDataTypeEEEb'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='460' c='_ZN6WebKit16WebsiteDataStore17fetchDataAndApplyEN3WTF9OptionSetINS_15WebsiteDataTypeEEENS2_INS_22WebsiteDataFetchOptionEEEONS1_3RefINS1_9WorkQueueENS116601030'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='484' c='_ZN6WebKit16WebsiteDataStore17fetchDataAndApplyEN3WTF9OptionSetINS_15WebsiteDataTypeEEENS2_INS_22WebsiteDataFetchOptionEEEONS1_3RefINS1_9WorkQueueENS116601030'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='623' u='r' c='_ZN6WebKitL45computeNetworkProcessAccessTypeForDataRemovalEN3WTF9OptionSetINS_15WebsiteDataTypeEEEb'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='625' u='r' c='_ZN6WebKitL45computeNetworkProcessAccessTypeForDataRemovalEN3WTF9OptionSetINS_15WebsiteDataTypeEEEb'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='685' c='_ZN6WebKit16WebsiteDataStore10removeDataEN3WTF9OptionSetINS_15WebsiteDataTypeEEENS1_8WallTimeEONS1_8FunctionIFvvEEE'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='717' c='_ZN6WebKit16WebsiteDataStore10removeDataEN3WTF9OptionSetINS_15WebsiteDataTypeEEENS1_8WallTimeEONS1_8FunctionIFvvEEE'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='840' u='r' c='_ZN6WebKit16WebsiteDataStore10removeDataEN3WTF9OptionSetINS_15WebsiteDataTypeEEERKNS1_6VectorINS_17WebsiteDataRecordELm0ENS1_15CrashOnOverflowELm16ENS7091737'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='846' c='_ZN6WebKit16WebsiteDataStore10removeDataEN3WTF9OptionSetINS_15WebsiteDataTypeEEERKNS1_6VectorINS_17WebsiteDataRecordELm0ENS1_15CrashOnOverflowELm16ENS7091737'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='881' c='_ZN6WebKit16WebsiteDataStore10removeDataEN3WTF9OptionSetINS_15WebsiteDataTypeEEERKNS1_6VectorINS_17WebsiteDataRecordELm0ENS1_15CrashOnOverflowELm16ENS7091737'/>
