<dec f='WebKit/Source/WebKit/Shared/SessionState.h' l='97' type='WTF::String'/>
<use f='WebKit/Source/WebKit/Shared/SessionState.cpp' l='100' u='r' c='_ZNK6WebKit10FrameState6encodeERN3IPC7EncoderE'/>
<use f='WebKit/Source/WebKit/Shared/SessionState.cpp' l='135' u='a' c='_ZN6WebKit10FrameState6decodeERN3IPC7DecoderE'/>
<offset>192</offset>
<use f='WebKit/Source/WebKit/Shared/WebBackForwardListItem.cpp' l='88' u='r' c='_ZN6WebKitL19childItemWithTargetERKNS_10FrameStateERKN3WTF6StringE'/>
<use f='WebKit/Source/WebKit/Shared/WebBackForwardListItem.cpp' l='136' u='r' c='_ZN6WebKitL13hasSameFramesERKNS_10FrameStateES2_'/>
<use f='WebKit/Source/WebKit/Shared/WebBackForwardListItem.cpp' l='136' u='r' c='_ZN6WebKitL13hasSameFramesERKNS_10FrameStateES2_'/>
<use f='WebKit/Source/WebKit/Shared/WebBackForwardListItem.cpp' l='143' u='r' c='_ZN6WebKitL13hasSameFramesERKNS_10FrameStateES2_'/>
<use f='WebKit/Source/WebKit/WebProcess/WebCoreSupport/SessionStateConversion.cpp' l='73' u='w' c='_ZN6WebKitL12toFrameStateERKN7WebCore11HistoryItemE'/>
<use f='WebKit/Source/WebKit/WebProcess/WebCoreSupport/SessionStateConversion.cpp' l='149' u='r' c='_ZN6WebKitL15applyFrameStateERN7WebCore11HistoryItemERKNS_10FrameStateE'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitWebViewSessionState.cpp' l='163' u='m' c='_ZL16encodeFrameStateP16_GVariantBuilderRKN6WebKit10FrameStateE'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitWebViewSessionState.cpp' l='306' u='w' c='_ZL16decodeFrameStateP9_GVariantRN6WebKit10FrameStateE'/>
