<dec f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.h' l='43' type='0'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='100' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='102' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='108' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='110' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='114' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='118' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='126' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='128' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='131' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='134' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/Shared/WebsiteData/WebsiteData.cpp' l='138' u='r' c='_ZN6WebKit11WebsiteData12ownerProcessENS_15WebsiteDataTypeE'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='289' u='r' c='_ZN6WebKitL43computeNetworkProcessAccessTypeForDataFetchEN3WTF9OptionSetINS_15WebsiteDataTypeEEEb'/>
<use f='WebKit/Source/WebKit/UIProcess/WebsiteData/WebsiteDataStore.cpp' l='624' u='r' c='_ZN6WebKitL45computeNetworkProcessAccessTypeForDataRemovalEN3WTF9OptionSetINS_15WebsiteDataTypeEEEb'/>
