<inh f='WebKit/WTF/Headers/wtf/RunLoop.h' l='121' c='WTF::RunLoop::TimerBase'/>
<def f='WebKit/WTF/Headers/wtf/RunLoop.h' l='171' ll='191'/>
<use f='WebKit/WTF/Headers/wtf/MemoryPressureHandler.h' l='251'/>
<use f='WebKit/WTF/Headers/wtf/MemoryPressureHandler.h' l='266'/>
<fun r='_ZN3WTF7RunLoop5TimerC1ERS0_PT_MS3_FvvE'/>
<fun r='_ZN3WTF7RunLoop5TimerC1ERS0_ONS_8FunctionIFvvEEE'/>
<fun r='_ZN3WTF7RunLoop5Timer5firedEv'/>
<mbr r='WTF::RunLoop::Timer::m_function' t='Function&lt;void ()&gt;'/>
<use f='WebKit/Source/WebKit/Platform/IPC/Connection.h' l='383'/>
<use f='WebKit/PAL/Headers/pal/HysteresisActivity.h' l='94'/>
<use f='WebKit/Source/WebKit/WebProcess/WebPage/WebPage.h' l='2022'/>
<use f='WebKit/Source/WebKit/Shared/AuxiliaryProcess.h' l='163'/>
<use f='WebKit/Source/WebKit/Shared/SharedStringHashStore.h' l='74'/>
<use f='WebKit/Source/WebKit/UIProcess/ProcessThrottler.h' l='121'/>
<use f='WebKit/Source/WebKit/UIProcess/ProcessThrottler.h' l='153'/>
<use f='WebKit/Source/WebKit/UIProcess/SuspendedPageProxy.h' l='115'/>
<use f='WebKit/Source/WebKit/NetworkProcess/Classifier/WebResourceLoadStatisticsStore.h' l='282'/>
<use f='WebKit/Source/WebKit/UIProcess/ResponsivenessTimer.h' l='84'/>
<use f='WebKit/Source/WebKit/UIProcess/BackgroundProcessResponsivenessTimer.h' l='59'/>
<use f='WebKit/Source/WebKit/UIProcess/BackgroundProcessResponsivenessTimer.h' l='60'/>
<use f='WebKit/Source/WebKit/UIProcess/WebProcessPool.h' l='704'/>
<use f='WebKit/Source/WebKit/WebProcess/Network/WebLoaderStrategy.h' l='129'/>
<use f='WebKit/Source/WebKit/WebProcess/Plugins/PluginView.h' l='247'/>
<use f='WebKit/Source/WebKit/UIProcess/WebPageProxy.h' l='2925'/>
<use f='WebKit/Source/WebKit/UIProcess/WebPageProxy.h' l='2985'/>
<use f='WebKit/Source/WebKit/UIProcess/WebPageProxy.h' l='2991'/>
<use f='WebKit/Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h' l='136'/>
<use f='WebKit/Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h' l='142'/>
<use f='WebKit/Source/WebKit/WebProcess/WebPage/CoordinatedGraphics/DrawingAreaCoordinatedGraphics.h' l='157'/>
<use f='WebKit/Source/WebKit/NetworkProcess/soup/WebSocketTaskSoup.h' l='73'/>
<use f='WebKit/Source/WebKit/NetworkProcess/glib/DNSCache.h' l='69'/>
<use f='WebKit/Source/WebKit/NetworkProcess/soup/NetworkDataTaskSoup.h' l='210'/>
<use f='WebKit/Source/WebKit/UIProcess/Automation/WebAutomationSession.h' l='331'/>
<use f='WebKit/Source/WebKit/UIProcess/ViewGestureController.h' l='267'/>
<use f='WebKit/Source/WebKit/UIProcess/ViewGestureController.h' l='352'/>
<use f='WebKit/Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.h' l='109'/>
<use f='WebKit/Source/WebKit/UIProcess/CoordinatedGraphics/DrawingAreaProxyCoordinatedGraphics.h' l='137'/>
<use f='WebKit/Source/WebKit/UIProcess/WebProcessCache.h' l='86'/>
<use f='WebKit/Source/WebKit/UIProcess/WebProcessCache.h' l='100'/>
<use f='WebKit/Source/WebKit/UIProcess/geoclue/GeoclueGeolocationProvider.h' l='75'/>
<use f='WebKit/Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.h' l='159'/>
<use f='WebKit/Source/WebKit/UIProcess/UserMediaPermissionRequestManagerProxy.h' l='168'/>
<use f='WebKit/Source/WebKit/UIProcess/WebBackForwardCacheEntry.h' l='59'/>
<use f='WebKit/Source/JavaScriptCore/runtime/JSRunLoopTimer.h' l='77'/>
<use f='WebKit/Source/JavaScriptCore/runtime/JSRunLoopTimer.cpp' l='48' c='_ZN3JSC14JSRunLoopTimer7Manager9PerVMDataC1ERS1_RN3WTF7RunLoopE'/>
<inh f='WebKit/Source/WTF/wtf/RunLoop.h' l='121' c='WTF::RunLoop::TimerBase'/>
<def f='WebKit/Source/WTF/wtf/RunLoop.h' l='171' ll='191'/>
<fun r='_ZN3WTF7RunLoop5TimerC1ERS0_PT_MS3_FvvE'/>
<fun r='_ZN3WTF7RunLoop5TimerC1ERS0_ONS_8FunctionIFvvEEE'/>
<fun r='_ZN3WTF7RunLoop5Timer5firedEv'/>
<mbr r='WTF::RunLoop::Timer::m_function' t='Function&lt;void ()&gt;'/>
<use f='WebKit/Source/WTF/wtf/MemoryPressureHandler.h' l='251'/>
<use f='WebKit/Source/WTF/wtf/MemoryPressureHandler.h' l='266'/>
<use f='WebKit/Source/WTF/wtf/MemoryPressureHandler.cpp' l='85' c='_ZN3WTF21MemoryPressureHandler33setShouldUsePeriodicMemoryMonitorEb'/>
<use f='WebKit/Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h' l='504'/>
<use f='WebKit/Source/WebCore/platform/graphics/gstreamer/MediaPlayerPrivateGStreamer.h' l='505'/>
<use f='WebKit/Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxy.h' l='94'/>
<use f='WebKit/Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxy.h' l='101'/>
<use f='WebKit/Source/WebCore/platform/graphics/texmap/BitmapTexturePool.h' l='70'/>
<use f='WebKit/Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxy.cpp' l='76' c='_ZN7WebCore31TextureMapperPlatformLayerProxy27activateOnCompositingThreadEPNS0_10CompositorEPNS_18TextureMapperLayerE'/>
<use f='WebKit/Source/WebCore/platform/graphics/texmap/TextureMapperPlatformLayerProxy.cpp' l='77' c='_ZN7WebCore31TextureMapperPlatformLayerProxy27activateOnCompositingThreadEPNS0_10CompositorEPNS_18TextureMapperLayerE'/>
<use f='WebKit/Source/WebCore/platform/graphics/texmap/coordinated/CoordinatedGraphicsLayer.h' l='230'/>
<use f='WebKit/JavaScriptCore/PrivateHeaders/JavaScriptCore/JSRunLoopTimer.h' l='77'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/IconDatabase.h' l='88'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/IconDatabase.h' l='89'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/IconDatabase.cpp' l='91' c='_ZN6WebKit12IconDatabaseC1ERKN3WTF6StringENS0_18AllowDatabaseWriteE'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitJavascriptResultPrivate.h' l='57'/>
<use f='WebKit/Source/WebKit/UIProcess/API/glib/WebKitUIClient.cpp' l='225' c='_ZN8UIClient14setWindowFrameERN6WebKit12WebPageProxyERKN7WebCore9FloatRectE'/>
<use f='WebKit/Source/WebKit/UIProcess/API/gtk/DropTarget.h' l='89'/>
<use f='WebKit/Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp' l='305'/>
<use f='WebKit/Source/WebKit/UIProcess/API/gtk/WebKitWebViewBase.cpp' l='326'/>
<use f='WebKit/Source/WebKit/UIProcess/API/gtk/WebKitWebViewGtk.cpp' l='155'/>
<use f='WebKit/Source/WebKit/UIProcess/Automation/SimulatedInputDispatcher.h' l='179'/>
<use f='WebKit/Source/WebCore/platform/ScrollAnimationKinetic.h' l='85'/>
<use f='WebKit/Source/WebCore/platform/ScrollAnimationSmooth.h' l='114'/>
<use f='WebKit/Source/WebCore/platform/MainThreadSharedTimer.h' l='60'/>
<use f='WebKit/Source/WebCore/page/scrolling/ThreadedScrollingTree.h' l='113'/>
<use f='WebKit/Source/WebCore/page/scrolling/ThreadedScrollingTree.cpp' l='359' c='_ZN7WebCore21ThreadedScrollingTree44scheduleDelayedRenderingUpdateDetectionTimerEN3WTF7SecondsE'/>
<use f='WebKit/Source/WebCore/inspector/agents/WebHeapAgent.cpp' l='56'/>
